<div class="container" style="padding-left: 100px;">
    <h1>Agregar Productos</h1><br>
    <h3>Ingrese los datos del producto:</h3><br>
    <form #agregarForm="ngForm" (ngSubmit)="submitForm(agregarForm)" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="codigo" class="form-label">Codigo:</label>
            <input type="number" class="form-control" name="codigo" [(ngModel)]="codigo" id="codigo" required>
        </div><br>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" id="nombre">
        </div><br>
        <div class="mb-3">
            <label for="img" class="form-label">Imagen:</label>
            <input type="file" class="form-control" name="img" [(ngModel)]="img" id="img">
        </div><br>
        <div class="mb-3">
            <label for="desc" class="form-label">Descripcion:</label>
            <input type="text" class="form-control" name="desc" [(ngModel)]="desc" id="desc">
        </div><br>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" step="any" class="form-control" name="precio" [(ngModel)]="precio" id="precio">
        </div><br>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" name="cantidad" [(ngModel)]="cantidad" id="cantidad">
        </div><br>
        <div class="mb-3 form-check">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>
