	<!-- banner -->
	<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000"
			data-pause="hover">
			<!-- Wrapper-for-Slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active"><!-- First-Slide -->
					<img src="../assets/images/5.jpg" alt="" class="img-responsive" />
					<div class="carousel-caption kb_caption kb_caption_right">
						<h3 data-animation="animated flipInX">Flat <span>50%</span> Discount</h3>
						<h4 data-animation="animated flipInX">Hot Offer Today Only</h4>
					</div>
				</div>
				<div class="item"> <!-- Second-Slide -->
					<img src="../assets/images/8.jpg" alt="" class="img-responsive" />
					<div class="carousel-caption kb_caption kb_caption_right">
						<h3 data-animation="animated fadeInDown">Our Latest Fashion Editorials</h3>
						<h4 data-animation="animated fadeInUp">cupidatat non proident</h4>
					</div>
				</div>
				<div class="item"><!-- Third-Slide -->
					<img src="../assets/images/3.jpg" alt="" class="img-responsive" />
					<div class="carousel-caption kb_caption kb_caption_center">
						<h3 data-animation="animated fadeInLeft">End Of Season Sale</h3>
						<h4 data-animation="animated flipInX">cupidatat non proident</h4>
					</div>
				</div>
			</div>
			<!-- Left-Button -->
			<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<!-- Right-Button -->
			<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
				<span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<script src="../assets/js/custom.js"></script>
	</div>
	<!-- //banner -->
	<div class="container">
		<img src="../assets/images/fondo.jpg" style="width: 100%;height: 180%;">
	</div>

	<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<div class="welcome-info">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<div class="clearfix"> </div>
						<h3 class="w3ls-title">Ofertas</h3>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div class="tabcontent-grids">
									<div id="owl-demo" class="owl-carousel">
                                        <div *ngFor="let produc of productos">
                                            <div *ngIf="produc.oferta" class="item">
                                              <div class="glry-w3agile-grids agileits">
                                                <a href="products.html"><img [src]="produc.img.url" alt="img"></a>
                                                <div class="view-caption agileits-w3layouts">
                                                  <h4><a href="products.html">{{ produc.nombre }}</a></h4>
                                                  <p>{{ produc.descripcion }}</p>
                                                  <h5>S/{{ produc.precio }}</h5>
                                                  <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls_item" [value]="produc.nombre" />
                                                    <input type="hidden" name="amount" [value]="produc.precio" />
                                                    <button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</button>
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>      
									</div>
								</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- add-products -->
	<div class="add-products">
		<div class="container">
			<div class="add-products-row">
				<div class="w3ls-add-grids">
					<a href="products1.html">
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl">
					<a href="products1.html">
						<h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl1">
					<a href="products.html">
						<h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="clerfix"> </div>
			</div>
		</div>
	</div>
	<!-- //add-products -->
	<!-- coming soon -->
	<div class="soon">
		<div class="container">
			<h3>Mega Deal Of the Week</h3>
			<h4>Coming Soon Don't Miss Out</h4>
			<div id="countdown1" class="ClassyCountdownDemo"></div>
		</div>
	</div>
	<!-- //coming soon -->
	<!-- deals -->
	<div class="deals">
		<div class="container">
			<h3 class="w3ls-title">Nuestros Productos</h3>
			<div *ngFor="let produc of productos">
			<div class="col-sm-3 mb-3 mb-sm-0">
				<div class="card" style="border: 0px;">
					<img [src]="produc.img" class="card-img-top" style="width: 200px; height: 200px">
					<div class="card-body">
						<h5 class="card-title">{{produc.nombre}}</h5>
						<p class="card-text">{{produc.descripcion}}</p>
						<h5>S/.{{produc.precio}}</h5><br>
						<form action="#" method="post">
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="add" value="1" />
							<input type="hidden" name="w3ls_item" value="{{produc.nombre}}" />
							<input type="hidden" name="amount" value="{{produc.precio}}" />
							<button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to
								cart</button>
						</form>
					</div>
				</div>
            </div>
			</div>
		</div>
	</div>
	<!-- //deals -->
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>FREE DELIVERY</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>CUSTOMER CARE</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div>
					<div class="ftr-top-right">
						<h4>GOOD QUALITY</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>