<div class="container" style="padding-left: 100px;">
  <h1>Crear cuenta</h1><br>
  <form (ngSubmit)="registrarUsuario()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de usuario:</label>
      <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" id="nombre" required>
    </div><br>
    <div class="mb-3">
      <label for="direccion" class="form-label">Email:</label>
      <input type="text" class="form-control" name="direccion" [(ngModel)]="direccion" id="direccion" required>
    </div><br>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="text" class="form-control" name="telefono" [(ngModel)]="telefono" id="telefono">
    </div><br>
    <div class="mb-3">
      <label for="dni" class="form-label">DNI:</label>
      <input type="number" class="form-control" name="dni" [(ngModel)]="dni" id="dni">
    </div><br>

    <div class="mb-3">
      <label for="password1" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" name="password1" [(ngModel)]="password1" id="password1">
    </div><br>
    <div class="mb-3">
      <label for="password2" class="form-label">Confirmar contraseña:</label>
      <input type="password" class="form-control" name="password2" [(ngModel)]="password2" id="password2">
    </div><br>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>
